@if (isFormOpen) {
  <!-- anything inside the () is an event that we listen to -->
  <!-- So here we are listening for cancel event -->
  <!-- As soon as that event is emitted/occurs from the add-task-template -->
  <!-- we call onToggleTaskAddForm() to close the form -->
  <add-task (cancel)="onToggleTaskAddForm()"></add-task>
}

<section id="tasks">
  <header>
    <h1>
      {{ getUserToDisplay.name }}
    </h1>
    <menu>
      <button (click)="onToggleTaskAddForm()">Add Tasks</button>
    </menu>
  </header>

  <ul>
    @for (task of selectedUserTasks; track task.id) {
      <li>
        <app-task [task]="task" (complete)="onCompleteTask($event)"></app-task>
      </li>
    }
  </ul>
</section>
