<section id="tasks">
  <header>
    <h1>
      {{ getUserToDisplay.name }}
    </h1>
    <menu>
      <button (click)="onClickAddTask()">Add Tasks</button>
    </menu>
  </header>

  @if (isFormOpen) {
    <h1>User wants to add a new Task</h1>
    <add-task></add-task>
    <button class="custom-button" (click)="onClickClose()">Close</button>
    <button class="custom-button" (click)="onClickClose()">Add Task</button>
  }

  <ul>
    @for (task of selectedUserTasks; track task.id) {
      <li>
        <app-task [task]="task" (complete)="onCompleteTask($event)"></app-task>
      </li>
    }
  </ul>
</section>
